@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

p {
  margin: 0px !important;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  margin-bottom: 1px;
}

h2 {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  margin-bottom: 1px;
}

.center {
  margin: auto;
  width: 50%;
}

#giocatrici {
  margin: auto;
  width: 50%;
}

h1 .ch {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  width: 50%;
  margin: auto;
}

.co {
  margin: auto;
  width: 0%;
}

table, .table {
  caption-side: top;
  margin-bottom: .5rem;
  font-size: 10px;
}

.odd ul, .even ul {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-left: 5px !important;
}

.odd ul li ul, .even ul li ul {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-left: 5px !important;
}

#indicazioni-1 h4 {
    margin-top: 0px;
}

.pippo ul {
    padding: 0px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.table>:not(caption)>*>* {
 padding:0px;
 background-color:var(--bs-table-bg);
 border-bottom-width:1px;
 box-shadow:inset 0 0 0 9999px var(--bs-table-accent-bg)
}

.pluto tr {
    padding-left: 1px;
}

.pippo2 ul {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    padding-left: 10px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

#battuta:after {
  content: "";
  background-color: #000;
  position: absolute;
  width: 1px;
  display: block;
  height: 141px;
  top: 716px;
  left: 50%;
  bottom: 0;
}